# Скопируйте в .env и заполните реальными значениями
DATABASE_URL="postgresql://postgres:123123@localhost:5436/docgen?schema=public"
PORT=3000
JWT_SECRET="change-me-in-production-min-32-chars"
JWT_EXPIRES_IN="7d"
